
.contenido
	margin-bottom: 40px
	justify-content: center
	box-sizing: content-box
	gap: 1rem
	contenedor()

	.caja
		max-width: 400px
		caja-sombra()

		&__contenido
			padding: 20px
			background-color: color-claro
		
			span
				color: color-secundario
				titulos(fuente2)

			h3
				titulos(fuente2)