.encabezado--con-filtros
	contenedor()
	h2
		margin-top: 10px
		font-size: 75px
		font-weight: normal

	.filtros 
		width: 290px
		height: 75px
		padding: 20px
		margin-left: auto
		caja-sombra()
		span
			text-transform: uppercase
		a
			margin-left: 20px
			font-size: 25px
			text-decoration: none
			color: color-primario