//- Variables
-var titulo = "Titulo Principal"
-var hashtag = ["hash#tag", "?"]
-var buttons = ["Registro", "Leer Mas"]
-var enlaces = ["Acerca", "Noticias", "Contacto"]

//- Variables condificonales
-var usuario = "david"
-var image = "https://static.platzi.com/media/tmp/class-files/git/platzi-games-pug-publico/platzi-games-pug-publico-clase-3-variables/images/imagen.png"
-var subtitulos = ["Subtitulo 1", "Subtitulo 2", "Subtitulo 3"]

      
      
//- HTML template content
doctype html
html
  include head.pug
  body
  
    include header.pug
    
    block content

    
    include footer.pug
